.key {
    font-weight: bold;
}

@media only screen and (max-width: 600px) {
    body {
        margin: none;
    }
}

@media only screen and (min-width: 600px) {
    body {
        margin-left: 30%;
        margin-right: 30%;
        margin-top: 7.5%;
    }
}

body {
    background-color: #ffe9dc;
    color: #ae0001;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.signature{
    
    font-family: 'Dancing Script', 'Brush Script MT', serif;
    font-size: 2em;
}